@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background-color: #000;
  font-family: "Encode Sans Condensed", sans-serif; }

#index__Main {
  background-color: #000; }
  #index__Main .Index__Section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center; }
    #index__Main .Index__Section1 .Index__Section1__Articulo1, #index__Main .Index__Section1 .Index__Section1__Articulo2, #index__Main .Index__Section1 .Index__Section1__Articulo3 {
      height: 450px;
      width: 80vw;
      margin-top: 50px;
      background-image: url("../Assets/Images/Tu-Galaxy.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 30px;
      box-shadow: rgba(177, 179, 180, 0.6) 0px 2px 4px 0px, rgba(177, 179, 180, 0.6) 0px 2px 16px 0px;
      display: flex;
      flex-direction: column;
      flex-wrap: none;
      justify-content: none;
      align-items: center;
      color: #000;
      transition: all 1s; }
      #index__Main .Index__Section1 .Index__Section1__Articulo1:hover, #index__Main .Index__Section1 .Index__Section1__Articulo2:hover, #index__Main .Index__Section1 .Index__Section1__Articulo3:hover {
        transform: scale(1.05); }
      #index__Main .Index__Section1 .Index__Section1__Articulo1 .Index__Section1__Articulo1__Texto, #index__Main .Index__Section1 .Index__Section1__Articulo2 .Index__Section1__Articulo1__Texto, #index__Main .Index__Section1 .Index__Section1__Articulo3 .Index__Section1__Articulo1__Texto, #index__Main .Index__Section1 .Index__Section1__Articulo2 .Index__Section1__Articulo2__Texto {
        color: #fff;
        text-align: center;
        margin-top: 30px; }
      #index__Main .Index__Section1 .Index__Section1__Articulo1 .Index__Section1__Articulo1__Link, #index__Main .Index__Section1 .Index__Section1__Articulo2 .Index__Section1__Articulo1__Link, #index__Main .Index__Section1 .Index__Section1__Articulo3 .Index__Section1__Articulo1__Link, #index__Main .Index__Section1 .Index__Section1__Articulo2 .Index__Section1__Articulo2__Link {
        color: #000;
        text-decoration: none;
        padding: 7px;
        background-color: white;
        border-radius: 30px; }
    #index__Main .Index__Section1 .Index__Section1__Articulo2 {
      background-image: url("../Assets/Images/Tu-Galaxy3.webp"); }
    #index__Main .Index__Section1 .Index__Section1__Articulo3 {
      margin: 50px 0px;
      background-image: url("../Assets/Images/Tu-Galaxy6.webp");
      background-position: right;
      justify-content: center;
      align-items: flex-start;
      color: #fff; }
      #index__Main .Index__Section1 .Index__Section1__Articulo3 div {
        width: 50%; }
        #index__Main .Index__Section1 .Index__Section1__Articulo3 div .Index__Section1__Articulo3__Texto {
          margin-left: 50px; }
        #index__Main .Index__Section1 .Index__Section1__Articulo3 div p {
          margin-left: 50px; }

.d-md-block {
  margin: 40px; }

header {
  position: sticky;
  top: 0;
  z-index: 10; }

.Cabecera1 {
  height: 10vh;
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #000; }
  .Cabecera1 .Cabecera1__Logo {
    width: 120px;
    margin-left: 30px; }
  .Cabecera1 .Cabecera1__Lista {
    display: flex;
    align-items: center; }
    .Cabecera1 .Cabecera1__Lista .Cabecera1__Lista__Ul {
      display: flex;
      padding: 0;
      margin: 0; }
      .Cabecera1 .Cabecera1__Lista .Cabecera1__Lista__Ul .Cabecera1__Lista__Ul__Links {
        list-style: none; }
        .Cabecera1 .Cabecera1__Lista .Cabecera1__Lista__Ul .Cabecera1__Lista__Ul__Links a {
          text-decoration: none;
          font-size: 1rem;
          color: #fff;
          background-color: #000;
          padding: 7px 10px;
          margin: 5px;
          border-radius: 20px;
          transition: all 0.3s ease-in; }
          .Cabecera1 .Cabecera1__Lista .Cabecera1__Lista__Ul .Cabecera1__Lista__Ul__Links a:hover {
            background-color: #fff;
            color: #000; }

.Cabecera2 {
  display: none; }

.col-12 {
  width: 100%; }

.row {
  justify-content: center; }

.Main__Productos__Titulo {
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin: 30px 0px; }

.Main__Productos__Subtitulo1 {
  color: white;
  text-align: center;
  padding: 5px; }

.Main__Productos__Section {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(66, 66, 66, 0.155); }
  .Main__Productos__Section div {
    display: flex;
    flex-direction: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: none; }
    .Main__Productos__Section div .Main__Productos__Section__Link {
      text-decoration: none; }
      .Main__Productos__Section div .Main__Productos__Section__Link .Main__Productos__Section__Box {
        width: 250px;
        height: 350px;
        background-color: white;
        margin: 20px;
        box-shadow: 2px 2px 2px 1px #9d9d9d;
        transition: all 0.5s; }
        .Main__Productos__Section div .Main__Productos__Section__Link .Main__Productos__Section__Box:hover {
          transform: scale(1.05) !important; }
        .Main__Productos__Section div .Main__Productos__Section__Link .Main__Productos__Section__Box .Main__Productos__Section__Box__Img {
          width: 100%;
          height: 70%;
          border-bottom: 1px solid #dcdbdb; }
          .Main__Productos__Section div .Main__Productos__Section__Link .Main__Productos__Section__Box .Main__Productos__Section__Box__Img .Main__Productos__Section__Box__Img__Tamaño {
            width: 100%;
            height: 100%; }
        .Main__Productos__Section div .Main__Productos__Section__Link .Main__Productos__Section__Box .Main__Productos__Section__Box__Info {
          height: 30%;
          width: 100%;
          color: #000;
          display: flex;
          flex-direction: column;
          flex-wrap: none;
          justify-content: center;
          align-items: center; }
          .Main__Productos__Section div .Main__Productos__Section__Link .Main__Productos__Section__Box .Main__Productos__Section__Box__Info .Main__Productos__Section__Box__Info h3 {
            margin-bottom: 0; }
          .Main__Productos__Section div .Main__Productos__Section__Link .Main__Productos__Section__Box .Main__Productos__Section__Box__Info .Main__Productos__Section__Box__Info p {
            margin-bottom: 0; }

.main__Localidades__Titulo {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 30px; }

.Main__Localidades {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none; }
  .Main__Localidades .Main__Localidades__Div {
    margin: 0px 30px; }
    .Main__Localidades .Main__Localidades__Div .Main__Localidades__Div__Link {
      text-decoration: none; }
      .Main__Localidades .Main__Localidades__Div .Main__Localidades__Div__Link .Main__Localidades__Div__Img {
        width: 500px;
        height: 375px;
        border-radius: 50px;
        box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px; }
      .Main__Localidades .Main__Localidades__Div .Main__Localidades__Div__Link .Main__Localidades__Div__Texto {
        color: #fff;
        text-align: center;
        margin: 30px 0px; }

.main__Historia__Titulo {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: none;
  align-items: center; }
  .main__Historia__Titulo .main__Historia__TituloIzq {
    width: 50%;
    background-color: #000; }
    .main__Historia__Titulo .main__Historia__TituloIzq .main__Historia__TituloIzq__Texto {
      color: white;
      text-align: end;
      font-weight: bold;
      margin: 5px;
      padding: 10px; }
  .main__Historia__Titulo .main__Historia__TituloDer {
    width: 50%;
    background-color: #fff; }
    .main__Historia__Titulo .main__Historia__TituloDer .main__Historia__TituloDer__Texto {
      color: #000;
      text-align: start;
      font-weight: bold;
      margin: 5px;
      padding: 10px; }

.Main__Historia {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none; }
  .Main__Historia .Main__Historia__Div1, .Main__Historia .Main__Historia__Div2 {
    width: 50%;
    height: 500px;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: space-evenly;
    align-items: center; }
    .Main__Historia .Main__Historia__Div1 .Main__Historia__Div1__Texto1, .Main__Historia .Main__Historia__Div2 .Main__Historia__Div1__Texto1 {
      color: #000;
      text-align: center; }
    .Main__Historia .Main__Historia__Div1 .Main__Historia__Div1__Img1, .Main__Historia .Main__Historia__Div2 .Main__Historia__Div1__Img1 {
      width: 500px; }
    .Main__Historia .Main__Historia__Div1 .Main__Historia__Div1__Img2, .Main__Historia .Main__Historia__Div2 .Main__Historia__Div1__Img2 {
      width: 500px; }
  .Main__Historia .Main__Historia__Div2 {
    background-color: #000; }
    .Main__Historia .Main__Historia__Div2 .Main__Historia__Div2__Img1 {
      width: 300px;
      margin: 0px 0px 30px 0px; }
    .Main__Historia .Main__Historia__Div2 .Main__Historia__Div2__Texto1 {
      color: #fff;
      text-align: center; }

.Main__Historia2 {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap-reverse;
  justify-content: none;
  align-items: none; }
  .Main__Historia2 .Main__Historia__Div3, .Main__Historia2 .Main__Historia__Div4 {
    width: 50%;
    height: 500px;
    background-color: #000;
    padding: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center; }
    .Main__Historia2 .Main__Historia__Div3 .Main__Historia__Div3__Texto1, .Main__Historia2 .Main__Historia__Div4 .Main__Historia__Div3__Texto1 {
      color: #fff;
      text-align: center; }
  .Main__Historia2 .Main__Historia__Div4 {
    background-color: #fff;
    padding: 30px; }
    .Main__Historia2 .Main__Historia__Div4 .Main__Historia__Div4__Img1 {
      width: 80%; }

.Final {
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center; }
  .Final .Final__Texto {
    color: #000;
    text-align: center;
    margin: 0px 100px; }

.main__Contacto__Titulo {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 30px; }

.main__Contacto__SubTitulo {
  color: white;
  text-align: center;
  margin: 30px; }

.main__Contacto__Form {
  display: flex;
  justify-content: center; }
  .main__Contacto__Form .main__Contacto__Form__Section {
    width: 500px;
    border: 2px solid white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    margin-bottom: 50px; }
    .main__Contacto__Form .main__Contacto__Form__Section ul {
      display: flex;
      flex-direction: column;
      flex-wrap: none;
      justify-content: center;
      align-items: center;
      padding: 0; }
      .main__Contacto__Form .main__Contacto__Form__Section ul li {
        list-style: none;
        color: white;
        margin: 10px; }
        .main__Contacto__Form .main__Contacto__Form__Section ul li > input {
          width: 300px;
          padding: 5px; }
        .main__Contacto__Form .main__Contacto__Form__Section ul li div button {
          width: 100px;
          margin: 0px 30px;
          padding: 3px; }
        .main__Contacto__Form .main__Contacto__Form__Section ul li p {
          text-align: center;
          margin-bottom: 5px; }
        .main__Contacto__Form .main__Contacto__Form__Section ul li .main__Contacto__Form__Textarea {
          width: 350px;
          height: 250px;
          resize: none; }

footer {
  height: 20vh;
  background-color: #000; }

.Pie {
  display: flex;
  justify-content: space-between; }
  .Pie .Pie__Lista {
    padding: 0px 30px;
    margin-top: 10px; }
    .Pie .Pie__Lista .Pie__Lista__Link {
      list-style: none;
      color: white;
      font-size: 0.8rem;
      margin-top: 4px; }
      .Pie .Pie__Lista .Pie__Lista__Link a {
        color: white;
        text-decoration: none; }
        .Pie .Pie__Lista .Pie__Lista__Link a:hover {
          text-decoration: underline; }
      .Pie .Pie__Lista .Pie__Lista__Link .Pie__Lista__Iconos {
        width: 30px;
        margin: 6px;
        border-radius: 100%;
        transition: all 0.4s; }
        .Pie .Pie__Lista .Pie__Lista__Link .Pie__Lista__Iconos:hover {
          transform: scale(1.3); }

.Pie__Lista__Responsive {
  list-style: none;
  display: none; }

.Pie__Texto {
  color: white;
  text-align: center;
  font-size: 0.6rem;
  margin-top: 10px; }

@media (max-width: 1024px) {
  .Carrusel__Letra__Titulo {
    font-size: 1.5rem; }
  #index__Main .Index__Section1 .Index__Section1__Articulo2 {
    background-image: url("../Assets/Images/Tu-Galaxy5.webp"); }
  .Main__Historia .Main__Historia__Div1, .Main__Historia .Main__Historia__Div2 {
    padding-top: 0;
    width: 100%; }
    .Main__Historia .Main__Historia__Div1 .Main__Historia__Div1__Img1, .Main__Historia .Main__Historia__Div2 .Main__Historia__Div1__Img1 {
      width: 60%; }
  .Main__Historia .Main__Historia__Div2 {
    width: 100%; }
    .Main__Historia .Main__Historia__Div2 .Main__Historia__Div2__Img1 {
      width: 40%; }
  .Main__Historia2 .Main__Historia__Div3, .Main__Historia2 .Main__Historia__Div4 {
    width: 100%;
    height: 400px;
    padding: 0; }
    .Main__Historia2 .Main__Historia__Div3 .Main__Historia__Div3__Texto1, .Main__Historia2 .Main__Historia__Div4 .Main__Historia__Div3__Texto1 {
      text-align: center;
      margin: 0px 100px; }
  .Main__Historia2 .Main__Historia__Div4 {
    width: 100%; }
    .Main__Historia2 .Main__Historia__Div4 .Main__Historia__Div4__Img1 {
      width: 40%; }
  .main__Historia__Titulo .main__Historia__TituloIzq {
    background-color: #fff; }
    .main__Historia__Titulo .main__Historia__TituloIzq .main__Historia__TituloIzq__Texto {
      color: #000;
      padding: 10px 0px; }
  .main__Historia__Titulo .main__Historia__TituloDer .main__Historia__TituloDer__Texto {
    padding: 10px 0px; } }

@media (max-width: 870px) {
  .Cabecera1 {
    display: none; }
  .Cabecera2 {
    display: block;
    background-color: #000 !important;
    border-bottom: 1px solid #fff; }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between; }
  .navbar-brand {
    color: #fff; }
  .navbar-toggler {
    border: 1px solid #fff !important; }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .nav-link {
    color: #fff !important;
    font-family: "Encode Sans Condensed", sans-serif !important; }
  .Cabecera1__Logo {
    width: 120px;
    margin: 0; } }

@media (max-width: 768px) {
  .Pie {
    justify-content: space-evenly; }
    .Pie .Pie3 {
      display: none; }
  .Pie__Lista__Responsive {
    display: flex;
    justify-content: center;
    padding: 0; }
    .Pie__Lista__Responsive .Pie__Lista__Iconos {
      width: 25px;
      margin: 2px;
      border-radius: 100%; }
  .Carrusel__Letra__Titulo {
    font-size: 1.2rem; }
  #index__Main .Index__Section1 .Index__Section1__Articulo1, #index__Main .Index__Section1 .Index__Section1__Articulo2, #index__Main .Index__Section1 .Index__Section1__Articulo3 {
    background-image: url("../Assets/Images/Tu-Galaxy2.webp"); }
  #index__Main .Index__Section1 .Index__Section1__Articulo2 {
    background-image: url("../Assets/Images/Tu-Galaxy5.webp"); }
  #index__Main .Index__Section1 .Index__Section1__Articulo3 {
    background-image: url("../Assets/Images/Tu-Galaxy6.2.webp");
    background-position: center;
    justify-content: flex-start;
    align-items: center; }
    #index__Main .Index__Section1 .Index__Section1__Articulo3 div {
      width: 100%; }
      #index__Main .Index__Section1 .Index__Section1__Articulo3 div .Index__Section1__Articulo3__Texto {
        text-align: center;
        margin: 10px; }
      #index__Main .Index__Section1 .Index__Section1__Articulo3 div p {
        margin: 10px;
        text-align: center; } }

@media (max-width: 600px) {
  .Pie2 {
    display: none; }
  .Pie__Lista {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .Main__Localidades .Main__Localidades__Div {
    width: 90%; }
    .Main__Localidades .Main__Localidades__Div .Main__Localidades__Div__Link .Main__Localidades__Div__Img {
      width: 100%;
      height: auto; }
    .Main__Localidades .Main__Localidades__Div .Main__Localidades__Div__Link .Main__Localidades__Div__Texto {
      font-size: 1.3rem; }
  .Main__Historia .Main__Historia__Div1 .Main__Historia__Div1__Img1, .Main__Historia .Main__Historia__Div2 .Main__Historia__Div1__Img1 {
    width: 90%;
    margin-top: 20px; }
  .Main__Historia .Main__Historia__Div2 .Main__Historia__Div2__Img1 {
    width: 60%; }
  .Main__Historia2 .Main__Historia__Div3, .Main__Historia2 .Main__Historia__Div4 {
    height: 600px;
    padding: 0; }
    .Main__Historia2 .Main__Historia__Div3 .Main__Historia__Div3__Texto1, .Main__Historia2 .Main__Historia__Div4 .Main__Historia__Div3__Texto1 {
      margin: 0px 30px; }
  .Main__Historia2 .Main__Historia__Div4 .Main__Historia__Div4__Img1 {
    width: 90%; }
  .Final {
    height: 600px; }
    .Final .Final__Texto {
      margin: 0px 30px; }
  .main__Contacto__Form .main__Contacto__Form__Section {
    width: 80%; }
    .main__Contacto__Form .main__Contacto__Form__Section ul li > input {
      width: 250px;
      padding: 3px; }
    .main__Contacto__Form .main__Contacto__Form__Section ul li .main__Contacto__Form__Textarea {
      width: 270px;
      height: 170px;
      resize: none; }
    .main__Contacto__Form .main__Contacto__Form__Section ul li div button {
      width: 100px;
      margin: 0px 20px;
      padding: 3px; } }

@media (max-width: 480px) {
  .Index__Section1__Articulo1__Texto, #index__Main .Index__Section1 .Index__Section1__Articulo2 .Index__Section1__Articulo2__Texto {
    font-size: 1rem; }
  .Index__Section1__Articulo2__Texto {
    font-size: 1rem; }
  .Main__Localidades .Main__Localidades__Div .Main__Localidades__Div__Link .Main__Localidades__Div__Texto {
    font-size: 1rem; }
  .main__Contacto__Form .main__Contacto__Form__Section {
    width: 80%; }
    .main__Contacto__Form .main__Contacto__Form__Section ul li > input {
      width: 220px;
      padding: 3px; }
    .main__Contacto__Form .main__Contacto__Form__Section ul li .main__Contacto__Form__Textarea {
      width: 220px;
      height: 170px;
      resize: none; }
    .main__Contacto__Form .main__Contacto__Form__Section ul li div button {
      width: 100px;
      margin: 0px 5px;
      padding: 3px; } }
