header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.Cabecera1 {
  height: 10vh;
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
  background-color: $ColorPrincipal;

  .Cabecera1__Logo {
    width: 120px;
    margin-left: 30px;
  }
  .Cabecera1__Lista {
    display: flex;
    align-items: center;
    .Cabecera1__Lista__Ul {
      display: flex;
      padding: 0;
      margin: 0;
      .Cabecera1__Lista__Ul__Links {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 1rem;
          color: #fff;
          background-color: #000;
          padding: 7px 10px;
          margin: 5px;
          border-radius: 20px;
          transition: all 0.3s ease-in;
          &:hover {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }
  }
}
.Cabecera2 {
  display: none;
}
.col-12 {
  width: 100%;
}
.row {
  justify-content: center;
}

