.main__Localidades__Titulo {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 30px;
}
.Main__Localidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .Main__Localidades__Div{
    margin: 0px 30px;
  .Main__Localidades__Div__Link {
    text-decoration: none;
    .Main__Localidades__Div__Img {
      width: 500px;
      height: 375px;
      border-radius: 50px;
      box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    }
    .Main__Localidades__Div__Texto {
      color: #fff;
      text-align: center;
      margin: 30px 0px;
    }
  }
}
}
@media (max-width: 580px){
  .Main__Localidades__Div {
    width: 90%;
  }
  .Main__Localidades .Main__Localidades__Div .Main__Localidades__Div__Link .Main__Localidades__Div__Img{
    width: 100%;
    height: auto;
  }
}