@media (max-width: 1024px) {
  .Carrusel__Letra__Titulo {
    font-size: 1.5rem;
  }

  #index__Main {
    .Index__Section1 {
      .Index__Section1__Articulo2 {
        background-image: url("../Assets/Images/Tu-Galaxy5.webp");
      }
    }
  }

  .Main__Historia {
    .Main__Historia__Div1 {
      padding-top: 0;
      width: 100%;

      .Main__Historia__Div1__Img1 {
        width: 60%;
      }
    }

    .Main__Historia__Div2 {
      width: 100%;

      .Main__Historia__Div2__Img1 {
        width: 40%;
      }
    }
  }

  .Main__Historia2 {
    .Main__Historia__Div3 {
      width: 100%;
      height: 400px;
      padding: 0;

      .Main__Historia__Div3__Texto1 {
        text-align: center;
        margin: 0px 100px;
      }
    }

    .Main__Historia__Div4 {
      width: 100%;

      .Main__Historia__Div4__Img1 {
        width: 40%;
      }
    }
  }

  .main__Historia__Titulo {
    .main__Historia__TituloIzq {
      background-color: #fff;

      .main__Historia__TituloIzq__Texto {
        color: #000;
        padding: 10px 0px;
      }
    }

    .main__Historia__TituloDer {
      .main__Historia__TituloDer__Texto {
        padding: 10px 0px;
      }
    }
  }
}
@media (max-width: 870px) {
  .Cabecera1 {
    display: none;
  }
  .Cabecera2 {
    display: block;
    background-color: $ColorPrincipal !important;
    border-bottom: 1px solid #fff;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-brand {
    color: #fff;
  }
  .navbar-toggler {
    border: 1px solid #fff !important;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .nav-link {
    color: #fff !important;
    font-family: "Encode Sans Condensed", sans-serif !important;
  }

  .Cabecera1__Logo {
    width: 120px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .Pie {
    justify-content: space-evenly;
    .Pie3 {
      display: none;
    }
  }

  .Pie__Lista__Responsive {
    display: flex;
    justify-content: center;
    padding: 0;
    .Pie__Lista__Iconos {
      width: 25px;
      margin: 2px;
      border-radius: 100%;
    }
  }
  .Carrusel__Letra__Titulo {
    font-size: 1.2rem;
  }

  #index__Main {
    .Index__Section1 {
      .Index__Section1__Articulo1 {
        background-image: url("../Assets/Images/Tu-Galaxy2.webp");
      }

      .Index__Section1__Articulo2 {
        background-image: url("../Assets/Images/Tu-Galaxy5.webp");
      }

      .Index__Section1__Articulo3 {
        background-image: url("../Assets/Images/Tu-Galaxy6.2.webp");
        background-position: center;
        justify-content: flex-start;
        align-items: center;

        div {
          width: 100%;

          .Index__Section1__Articulo3__Texto {
            text-align: center;
            margin: 10px;
          }

          p {
            margin: 10px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .Pie2 {
    display: none;
  }
  .Pie__Lista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Main__Localidades {
    .Main__Localidades__Div {
      width: 90%;

      .Main__Localidades__Div__Link {
        .Main__Localidades__Div__Img {
          width: 100%;
          height: auto;
        }
        .Main__Localidades__Div__Texto {
          font-size: 1.3rem;
        }
      }
    }
  }

  .Main__Historia {
    .Main__Historia__Div1 {
      .Main__Historia__Div1__Img1 {
        width: 90%;
        margin-top: 20px;
      }
    }

    .Main__Historia__Div2 {
      .Main__Historia__Div2__Img1 {
        width: 60%;
      }
    }
  }

  .Main__Historia2 {
    .Main__Historia__Div3 {
      height: 600px;
      padding: 0;

      .Main__Historia__Div3__Texto1 {
        margin: 0px 30px;
      }
    }

    .Main__Historia__Div4 {
      .Main__Historia__Div4__Img1 {
        width: 90%;
      }
    }
  }

  .Final {
    height: 600px;

    .Final__Texto {
      margin: 0px 30px;
    }
  }
  .main__Contacto__Form {
    .main__Contacto__Form__Section {
      width: 80%;
      ul {
        li {
          > input {
            width: 250px;
            padding: 3px;
          }
          .main__Contacto__Form__Textarea {
            width: 270px;
            height: 170px;
            resize: none;
          }
          div {
            button {
              width: 100px;
              margin: 0px 20px;
              padding: 3px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .Index__Section1__Articulo1__Texto {
    font-size: 1rem;
  }

  .Index__Section1__Articulo2__Texto {
    font-size: 1rem;
  }
  .Main__Localidades {
    .Main__Localidades__Div {
      .Main__Localidades__Div__Link {
        .Main__Localidades__Div__Texto {
          font-size: 1rem;
        }
      }
    }
  }
  .main__Contacto__Form {
    .main__Contacto__Form__Section {
      width: 80%;
      ul {
        li {
          > input {
            width: 220px;
            padding: 3px;
          }
          .main__Contacto__Form__Textarea {
            width: 220px;
            height: 170px;
            resize: none;
          }
          div {
            button {
              width: 100px;
              margin: 0px 5px;
              padding: 3px;
            }
          }
        }
      }
    }
  }
}
