.main__Historia__Titulo {
  @include flexbox(none, none, none, center);
  .main__Historia__TituloIzq {
    width: 50%;
    background-color: $ColorPrincipal;
    .main__Historia__TituloIzq__Texto {
      color: white;
      text-align: end;
      font-weight: bold;
      margin: 5px;
      padding: 10px;
    }
  }
  .main__Historia__TituloDer {
    width: 50%;
    background-color: #fff;
    .main__Historia__TituloDer__Texto {
      color: #000;
      text-align: start;
      font-weight: bold;
      margin: 5px;
      padding: 10px;
    }
  }
}
.Main__Historia {
  @include flexbox(none, wrap, none, none);
  .Main__Historia__Div1 {
    width: 50%;
    height: 500px;
    background-color: #fff;
    padding: 30px;
    @include flexbox(column, none, space-evenly, center);
    .Main__Historia__Div1__Texto1 {
      color: #000;
      text-align: center;
    }
    .Main__Historia__Div1__Img1 {
      width: 500px;
    }
    .Main__Historia__Div1__Img2 {
      width: 500px;
    }
  }
  .Main__Historia__Div2 {
    @extend .Main__Historia__Div1;
    background-color: $ColorPrincipal;
    .Main__Historia__Div2__Img1 {
      width: 300px;
      margin: 0px 0px 30px 0px;
    }
    .Main__Historia__Div2__Texto1 {
      color: #fff;
      text-align: center;
    }
  }
}
.Main__Historia2 {
  @include flexbox(none, wrap-reverse, none, none);
  .Main__Historia__Div3 {
    width: 50%;
    height: 500px;
    background-color: $ColorPrincipal;
    padding: 60px;
    @include flexbox(column, none, center, center);
    .Main__Historia__Div3__Texto1 {
      color: #fff;
      text-align: center;
    }
  }
  .Main__Historia__Div4 {
    @extend .Main__Historia__Div3;
    background-color: #fff;
    padding: 30px;
    .Main__Historia__Div4__Img1 {
      width: 80%;
    }
  }
}
.Final {
  height: 400px;
  background-color: #fff;
  @include flexbox(none, none, center, center);
  .Final__Texto {
    color: #000;
    text-align: center;
    margin: 0px 100px;
  }
}
