.Main__Productos__Titulo {
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin: 30px 0px;
}

.Main__Productos__Subtitulo1 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
}
.Main__Productos__Section {
  @include flexbox(none, wrap, center, none);
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(66, 66, 66, 0.155);
  div {
    @include flexbox(none, wrap, center, none);
    .Main__Productos__Section__Link {
      text-decoration: none;

      .Main__Productos__Section__Box {
        width: 250px;
        height: 350px;
        background-color: rgb(255, 255, 255);
        margin: 20px;
        box-shadow: 2px 2px 2px 1px rgb(157, 157, 157);
        transition: all 0.5s;
        &:hover {
          transform: scale(1.05) !important;
        }
        .Main__Productos__Section__Box__Img {
          width: 100%;
          height: 70%;
          border-bottom: 1px solid rgb(220, 219, 219);
          .Main__Productos__Section__Box__Img__Tamaño {
            width: 100%;
            height: 100%;
          }
        }
        .Main__Productos__Section__Box__Info {
          height: 30%;
          width: 100%;
          color: #000;
          @include flexbox(column, none, center, center);
          .Main__Productos__Section__Box__Info h3 {
            margin-bottom: 0;
          }
          .Main__Productos__Section__Box__Info p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
