@import "./variables";
@import "./mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: $ColorPrincipal;
  font-family: "Encode Sans Condensed", sans-serif;
}

@import "./index";
@import "./header";
@import "./productos";
@import "./localidades";
@import "./nuestra_Historia";
@import "./contacto";
@import "./footer";
